
header {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #0d9ca1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active a.hover {
  background-color: rgb(78, 16, 16);
  color: hotpink;
}
.topnav a:hover {
  background-color: rgb(65, 201, 106);
  color: black;
}

.topnav a.active {
  background-color: #5189de;
  color: white;
}
.active {
      background-color: #04AA6D;
      }
      .tdactive{
        background-color: #a017a5;
      }

body{
  margin-top: 20px;
  margin: 0px;
    font-family: "Trirong", serif;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab;

}
.container{
display: flex;
flex: row ;
max-width: 1200px;
margin: 0 auto;

}
@media (max-with:760px) {
  
}
h1{
    background-color:DodgerBlue;
            color: #FFFF00;
            font-size: 50px;
            text-align: center;
  }
  h1:hover{
    color: pink;
    background-color:rgb(56, 207, 119);
    font-size: 80px;
    text-align: justify;
    }
    .fst{
        background-color:rgb(151, 29, 96);
            color: #f1ebe7;
            font-size: 40px;
            text-align: left;
                  }
   li:nth-child(odd) {
    background: rgb(226, 216, 216);
    font-size: 15px;
  }
  li:nth-child(even) {
    background: lightgreen;
    font-size: 15px;
  }
   .button{
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    color: red;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 700px;
  }
  h3{
            text-align: center;
  }
      .pd{
        width: 44%;
        float: left;
        margin-left: 4%;
        padding-left: 2%;
      }   
      .pd img{
        width: 100%;
      }   
      .tb{
        background-image: url("TB.png");
        background-repeat: no-repeat;
      }
      section{
        height: 467px;
        padding-bottom: 250px;
      }
      .right{
        background-image: url("dream-bg.png");
        background-repeat: no-repeat;
        background-position: right;
      }
   p{
    font-size: 12px;
    color: rgb(161, 160, 160);   
   }
   .hig{
    font-style: italic;
    color: orange;
    font-size: 45px;
    text-shadow: 3px 3px 3px #ababab; 
   }
   .emu{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 65%;
    width: 40%;
   }
   .trd-bg{
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
   }
   #high{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
   }
   #web-high{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(35, 1, 128), rgb(138, 4, 131));
    border-image-slice: 1;
   }
   footer{
    font-size: 30px;
    text-align: center;
   }